<div class="container-fluid ">

<div class="text-center mb-3">
    <h1 style="color: #2c3e50;" class="fw-bold pt-4">CONATCT SECTION</h1>
        <div class="ouffa ">
            <i class="fa-solid fa-star" style="color: #2c3e50;"></i>
        </div>
</div>

<div class="w-50 mx-auto py-4">
    <div class="  py-4 ">
        <input type="text" class="form-control" placeholder="User name" aria-label="First name">
    </div>
    
    <div class="  py-4">
        <input type="number" class="form-control" placeholder="User age" aria-label="Last name">
    </div>
    
    <div class="  py-4">
        <input type="email" class="form-control" placeholder="Email addres" aria-label="Last name">
    </div>
    
    <div class="  py-4">
        <input type="password" class="form-control" placeholder="Password" aria-label="Last name">
    </div>
    <button type="submit" class="btn  mycolor"  style=" background-color:#1ABC9C; color: white;" >Send Message</button>
</div>
</div>