<div class="mycolor py-5">
    <div class="container  ">
        <div class="row ">
            <div class="col-4 text-center ">
                <h3 class="mycolor2">LOCATION</h3>
                <p class="mycolor2">2215 John Daniel Drive</p>
                <p class="mycolor2">Clark, MO 65243</p>
            </div>
            <div class="col-4 text-center ">
                <h3 class="mycolor2">AROUND THE WEB</h3>
                <div class="d-flex justify-content-center">
                    <div class=" rounded-circle border border-light align-content-center  mx-1" style="width: 35px; height: 35px;"> 
                        <i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
                    </div>
                    <div class=" rounded-circle border border-light align-content-center  mx-1" style="width: 35px; height: 35px;"> 
                        <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
                    </div>
                    <div class=" rounded-circle border border-light align-content-center  mx-1" style="width: 35px; height: 35px;"> 
                        <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
                    </div>
                    <div class=" rounded-circle border border-light align-content-center  mx-1" style="width: 35px; height: 35px;"> 
                        <i class="fa-solid fa-globe" style="color: #ffffff;"></i>
                    </div>
                </div>
            </div>
            <div class="col-4 text-center ">
                <h3 class="mycolor2">ABOUT FREELANCER</h3>
                <p class="mycolor2">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>