<div style=" background-color:#1ABC9C ;" class="vh-100 align-content-center">
    <div class="container text-center ">
        <div class="">
            <img src="/images/avataaars.png" alt="avatar" style="width: 250px;">
        </div>
        <h1 style="color: white;" class="fw-bold pt-4">START FRAMEWORK</h1>
        <div class="ouffa ">
            <i class="fa-solid fa-star" style="color: #ffffff;"></i>
        </div>
        <p style="color: white;" class="py-3">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>